.list-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1F1F1F;
    height: fit-content;
    margin-top: 10rem;
    width: 50%;
    border-radius: 12px;
    list-style: none;
    align-items: center;
}