.main-container {
    margin: 0 auto;
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

}

.button-div {
    border-radius: 12px;
    background-color: #AD9BE9;
    width: 50%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}