.expenses-filter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.expenses-filter-control {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

select {
    height: 5vh;
    border-radius: 10px;
    width: 7vw;
    text-align: center;
}